{% load extras %}

<h1>Item Search: {{query}}</h1>
{% if matches.count = 100 %}
More than 100 matches found. Showing the first 100.
{% else %}
{{ matches.count|default:"No" }} match{{ matches|pluralize:"es" }} found.
{% endif %}

{% if matches.count > 0 %}
<br /><br />
<table style="width: 99%">
	<tr>
		<th>Name</th>
		<th>Type</th>
		<th>Volume</th>
		<th>Trade Volume (approx.)</th>
		<th>Price (approx.)</th>
	</tr>
{% for i in matches %}
	<tr>
		<td><a href="javascript:void(0); " onclick="submit_silent('INV {{ i.type.id }}')">{{ i.type.name }}</a></td>
		<td>{{ i.type.group.category.name }} > {{ i.type.group.name }}</td>
		<td>{{ i.type.volume|floatFormat:'%.2f' }}m<sup>3</sup></td>
		<td>{{ i.volume|round_to_1|floatFormat:'%.0f'|default:"" }}</td>
		<td>{{ i.price|round_to_1|floatFormat:'%.0f'|default:"" }}</td>
	</tr>
{% endfor %}
</table>
{% endif %}
