<!DOCTYPE HTML>
<html>

<head>
	<title>EVEMM | EVE Market Monitor</title>
	<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/dojo/1.8/dijit/themes/nihilo/nihilo.css" media="screen">
	<link rel="stylesheet" href="{{ STATIC_URL }}style.css" media="screen" />
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/dojo/1.8/dojo/dojo.js" data-dojo-config="async:true, parseOnLoad:true">
	</script>
	<script>
	    require(["dojo/parser", "dijit/layout/BorderContainer", "dijit/layout/TabContainer",
	        "dijit/layout/ContentPane", 'dojo/_base/lang', 'dojox/grid/DataGrid', 'dojo/data/ItemFileWriteStore', 'dojo/dom', 'dojo/domReady!']);
	</script>
	
	<script>
		function submit() {
			$.get("./get/"+$("#main_input").val().toLowerCase().replace(" ", "/"), function(ret) {
				$("#result").html(ret);
				$("#result").hide();
				$("#result").fadeIn(100);
			});
			
			$("#result").height($("#main").height() - $("#main_input_wrapper").height() - 10);
		}
		
		function submit_silent(val) {
			$.get("./get/"+val.toLowerCase().replace(" ", "/"), function(ret) {
				$("#result").html(ret);
				$("#result").hide();
				$("#result").fadeIn(100);
			});
		}
	
		$(document).ready(function() {
			$("#main_input").keydown(function(e) {
				if(e.keyCode == 13) {
					submit();
				}
			});
		});
		
		$(window).resize(function() {
			$("#result").height($("#main").height() - $("#main_input_wrapper").height() - 10);
		})
	</script>
</head>

<body class="nihilo">
<div id="appLayout" class="demoLayout" data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="design: 'headline'">
	<div class="edgePanel" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region: 'top'">
		<strong>EVE Market Monitor</strong>
	
	</div>
	<div class="centerPanel" id="main" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region: 'center'">
		<div id="main_input_wrapper">
			<input type="text" id="main_input" placeholder="Quickbar" />
		</div>
		<div id="result">
			This tool has no affliation whatsoever with EVE Online. EVE Online is a trademark and is the intellectual property of CCP, Inc.
		</div>
	</div>
	<div id="leftCol" class="edgePanel" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region: 'right', splitter: true">Sidebar content (left)</div>
</div>

</body>

</html>